@model Login.Models.Investigacio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Investigacio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.index)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.index)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.N_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tema_Investigación_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tema_Investigación_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Responsables_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Responsables_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_inicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Termino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Termino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Panamá_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Panamá_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Guatemala)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guatemala)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Honduras)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Honduras)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.El_Salvador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.El_Salvador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Link_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Link_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link_2)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
