@model IEnumerable<Login.Models.BD>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.index)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unnamed__0)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Actualización_)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Responsable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tema)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observación_)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Acción)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monitoreo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.index)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unnamed__0)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Actualización_)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Responsable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tema)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observación_)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Acción)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monitoreo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
