@model IEnumerable<Login.Models.ShopifyOriginal>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.index)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Handle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body__HTML_)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vendor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tags)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Published)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Option1_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Option1_Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Option2_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Option2_Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Option3_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Option3_Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Variant_SKU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Variant_Grams)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Variant_Inventory_Tracker)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Variant_Inventory_Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Variant_Inventory_Policy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Variant_Fulfillment_Service)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Variant_Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Variant_Compare_At_Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Variant_Requires_Shipping)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Variant_Taxable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Variant_Barcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image_Src)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image_Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image_Alt_Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gift_Card)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEO_Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEO_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Google_Shopping___Google_Product_Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Google_Shopping___Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Google_Shopping___Age_Group)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Google_Shopping___MPN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Google_Shopping___AdWords_Grouping)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Google_Shopping___AdWords_Labels)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Google_Shopping___Condition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Google_Shopping___Custom_Product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Google_Shopping___Custom_Label_0)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Google_Shopping___Custom_Label_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Google_Shopping___Custom_Label_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Google_Shopping___Custom_Label_3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Google_Shopping___Custom_Label_4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Variant_Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Variant_Weight_Unit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Variant_Tax_Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost_per_item)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.index)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Handle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Body__HTML_)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vendor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tags)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Published)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Option1_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Option1_Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Option2_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Option2_Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Option3_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Option3_Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Variant_SKU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Variant_Grams)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Variant_Inventory_Tracker)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Variant_Inventory_Qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Variant_Inventory_Policy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Variant_Fulfillment_Service)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Variant_Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Variant_Compare_At_Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Variant_Requires_Shipping)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Variant_Taxable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Variant_Barcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image_Src)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image_Position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image_Alt_Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gift_Card)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEO_Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEO_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Google_Shopping___Google_Product_Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Google_Shopping___Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Google_Shopping___Age_Group)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Google_Shopping___MPN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Google_Shopping___AdWords_Grouping)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Google_Shopping___AdWords_Labels)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Google_Shopping___Condition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Google_Shopping___Custom_Product)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Google_Shopping___Custom_Label_0)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Google_Shopping___Custom_Label_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Google_Shopping___Custom_Label_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Google_Shopping___Custom_Label_3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Google_Shopping___Custom_Label_4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Variant_Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Variant_Weight_Unit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Variant_Tax_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost_per_item)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
