@model Login.Models.Monitoreo_Invest

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Monitoreo_Invest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.index)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.index)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.N_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tema_institución_Investigación_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tema_institución_Investigación_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Responsable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Responsable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_inicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_avance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_avance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Termino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Termino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acción)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acción)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seguimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seguimiento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
