<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container" style="padding-left: 0">
        <div class="row justify-content-md-center">
            <div class="col col-1.5">
                <div class="nav-header">
                    <img src="di-br.png" width="150" />
                </div>
                <ul class="nav flex-column" style="position:absolute">
                    <li>@Html.ActionLink("Inicio", "Index")</li>
                    <li>@Html.ActionLink("Cuenta", "Index", "Account")</li>
                    <li>@Html.ActionLink("Bases de Datos", "Index", "BDs")</li>
                    <li>@Html.ActionLink("Data", "Index", "Data")</li>
                    <li>@Html.ActionLink("Detalle Productos", "Index", "Detalle_Productos")</li>
                    <li>@Html.ActionLink("Investigación", "Index", "Investigacion")</li>
                    <li>@Html.ActionLink("Administrar", "Index", "Manage")</li>
                    <li>@Html.ActionLink("Monitoreo", "Index", "Monitoreo")</li>
                    <li>@Html.ActionLink("Pais", "Index", "Pais")</li>
                    <li>@Html.ActionLink("Personas", "Index", "Personas")</li>
                    <li>@Html.ActionLink("Prioridades", "Index", "Prioridads")</li>
                    <li>@Html.ActionLink("Productos", "Index", "Productos")</li>
                    <li>@Html.ActionLink("Shopifies", "Index", "Shopifies")</li>
                    <li>@Html.ActionLink("Shopify Originals", "Index", "ShopifyOriginals")</li>
                </ul>
            </div>
            <div class="col-10">
                <div class="container body-content">
                    
                    @RenderBody()
                    <hr />
                    <footer>
                        <p>&copy; @DateTime.Now.Year - Data Intelligence</p>
                    </footer>
                </div>

            </div>
        </div>
    </div>
    

    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
