@model Login.Models.Shopify

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Shopify</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.index)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.index)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Corr_Producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Corr_Producto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_producto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto_asociado_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto_asociado_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_comercial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_comercial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Variante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Variante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Corr_variante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Corr_variante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_prod_var)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_prod_var)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Avance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Avance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Responsable_Desarrollo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Responsable_Desarrollo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Responsable_Información)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Responsable_Información)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PORTADA_SHOPIFY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PORTADA_SHOPIFY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Párrafo_enganche)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Párrafo_enganche)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Variante_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Variante_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Variante_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Variante_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Variante_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Variante_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Variable_filtro1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Variable_filtro1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Variable_filtro2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Variable_filtro2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Variable_filtro3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Variable_filtro3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripción__Indicar_qué_permite_ver_o_hacer_el_producto__)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripción__Indicar_qué_permite_ver_o_hacer_el_producto__)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAR_Tipo_Prod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAR_Tipo_Prod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAR_Var1_Disponible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAR_Var1_Disponible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAR_Periodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAR_Periodo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAR_Proveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAR_Proveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAR_Colección)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAR_Colección)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESP_Tecnología)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESP_Tecnología)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Host_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Host_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Link_Odoo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link_Odoo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Publicación)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Publicación)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.País)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.País)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Escala_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Escala_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESP_Periodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESP_Periodo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESP_Incluye)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESP_Incluye)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESP_Uso_Disp_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESP_Uso_Disp_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESP_Fuentes_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESP_Fuentes_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACC_Recibirás)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACC_Recibirás)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACC_Licencia_uso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACC_Licencia_uso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACC_Actualizaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACC_Actualizaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACC_N__usuarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACC_N__usuarios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Etiquetas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etiquetas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vistas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vistas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Repositorio_Dropbox)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Repositorio_Dropbox)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Link_Logo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link_Logo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Miniatura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Miniatura)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
